{%extends 'base.html'%}

{% block navbar %}

<nav class="navbar navbar-custom navbar-expand-lg ">
    <a class="navbar-brand" href="#">
        <img src="/static/img/logo.png" width="200" height="40" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/files_index">DATA CHECK<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/master_data">MASTER DATA</a>
          </li>
        </ul>
    </div>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item ">
        <a class="nav-link">USER: {{user.username}}</a>
      </li>
      <li class="nav-item ">
        
        <a class="nav-link" href="{% url 'logout' %}">| LOGOUT</a>

      </li>
      {%endif%}
    </ul>
</nav>
{% endblock navbar %}


{%block content %}

<div>
    <br />

    <table class="table table-bordered" id="example" style="align: center;">
        <thead class="table-success" >
            <tr>
                <th>Client</th>
                <th>Date</th>
                <th>Transpoteur</th>
                <th>Identifiant</th>
                <th>Origine</th>
                <th>Destination</th>
                <th>Ville</th>
                <th>Vns</th>
                <th>erreur</th>
            </tr>
        </thead>
        {% if d %}
        {% for file in d %}
          <tr>
              <td>{{file.Client}}</td>
              <td>{{file.Date}}</td>
              <td>{{file.Transporteur}}</td>
              <td>{{file.Identifiant}}
              </td>
              <td>{{file.Origine}}</td>
              <td>{{file.Destination}}</td>
              <td>{{file.Ville}}</td>
              <td>{{file.VNs}}</td>
              <td>{% if file.Statut1 == 0 %}
                <a href="" class="btn btn-danger btn-sm">{{file.Client}}</a>
                  {% endif %}
                  {% if file.Statut2 == 0 %}
                  <a href="" class="btn btn-danger btn-sm">{{file.Transporteur}}</a>
                  {% endif %}
                  {% if file.Statut3 == 0 %}
                  <a href="" class="btn btn-danger btn-sm">{{file.Origine}}</i></a>
                  {% endif %}
                  {% if file.Statut4 == 0 %}
                  <a href="" class="btn btn-danger btn-sm">{{file.Destination}}</a>
                  {% endif %}
                  
              </td>
          </tr>
          {% endfor %}
          {% endif %}
        <!-- Data from back-end -->

    </table>
</div> <!-- End container -->

<br /><br />
{% endblock content%}